@import "variable";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
  font-family: "DM Sans";
  background-color: $cream;
}

h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.my-balance {
  width: max(30%, 400px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.25em;
  border-radius: 0.75em;
  color: $very-pale-orange;
  background-color: $soft-red;
  h4 {
    font-size: 0.75em;
    padding-bottom: 0.5em;
    color: $lighter-pale-orange;
    font-weight: $base-font-weight;
  }
  img {
    height: 2em;
  }
  p {
    font-size: 1.25em;
    font-weight: $bold-font-weight;
    letter-spacing: 0.05em;
  }
}

.bar-chart {
  width: max(30%, 400px);
  padding: 1.5em;
  padding-top: 1em;
  border-radius: 0.75em;
  background-color: $very-pale-orange;
  h3 {
    color: $dark-brown;
    font-size: 1.25em;
  }
  h4 {
    padding-top: 0.5em;
  }
  h4,
  .total p {
    font-size: 0.75em;
    color: $medium-brown;
    font-weight: $base-font-weight;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5em 0;
    padding-top: 2em;
    font-size: 0.75em;
    li {
      width: 2.25rem;
    }
    div {
      height: calc(var(--amount) * 2px);
      background-color: $soft-red;
      border-radius: 0.15rem;
      &:hover {
        background-color: $light-soft-red;
        cursor: pointer;
      }
    }
    .today {
      background-color: $cyan;
      &:hover {
        background-color: $light-cyan;
      }
    }
    p {
      color: $medium-brown;
      padding-top: 0.25rem;
      text-align: center;
    }
  }
  hr {
    color: $light-grey;
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h3 {
      font-size: 2.15rem;
    }
    .raise-rate {
      text-align: right;
      color: $dark-brown;
      font-weight: $bold-font-weight;
    }
  }
}

@media (min-width: $mobile-min-width) {
  @media (max-width: $mobile-max-width) {
    .my-balance {
      width: 90%;
    }
    .bar-chart {
      width: 90%;
      padding-left: 1em;
      padding-right: 1em;
      ul {
        font-size: 0.5em;
        li {
          width: 2rem;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
}
.attribution a {
  color: $navy-blue;
}
